.inputBox{
    width:40%;
}

.btn{
    width:8%;
    padding:10 10 10 10;
    background-color: rgb(183, 183, 209);
}



#itm{
    /* width:50%; */
    /* text-align: center; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}